<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div> 
    <% if (!user) { %> 
    <!-- <div>
      <form class="d-flex align-items-center" action="/login" method="POST">
        <input class="input" style="padding: 5px; margin-right: 5px" type="text" name="username" placeholder="Username">
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div> -->
    <div style = "width: 9em" class = "d-flex justify-content-around">
      <a style = "color:white" href="/register">Register</a>
      <a style = "color:white" href="/login">Login</a>
    </div>
    <% } else { %>
      <div class="d-flex align-items-center">
        <p style="margin: 10px; color: white;">Logged in as: <%= user.email %> </p>
        <form style="border-left: 10px"  action="/logout" method="POST">
          <button class="btn btn-danger" type="submit">Logout</button>
        </form>
      </div>
    <% } %>  
  </nav>
</header>